.shopping-cart__container {
  width: 360px;
  position: absolute;
  right: 0;
  padding: 24px;
}
.title__container {
  display: flex;
}
.title__container img {
  margin-right: 14px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.title {
  font-size: var(--lg);
  font-weight: bold;
}

.my-order__content {
  display: flex;
  flex-direction: column;
}
.total-order {
  display: grid;
  margin-bottom: 24px;
  padding: 0 24px;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--text-input-field);
  font-size: var(--md);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.total-order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.total-order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}

.total-order p span:nth-child(1) {
  font-weight: bold;
}
.total-order p span:nth-child(2) {
  color: var(--very-light-pink);
  font-size: var(--sm);
}

.shopping-cart {
  display: grid;
  margin-top: 24px;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  align-items: center;
}
.shopping-cart figure {
  margin: 0;
}
.shopping-cart figure img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.shopping-cart p:nth-child(2) {
  font-size: var(--sm);
  color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
}

@media (max-width: 640px) {
  .shopping-cart__container {
    width: 100%;
  }
}
